---
import { getI18n } from "@/i18n/config";

const { currentLocale } = Astro;
const { contact } = getI18n(currentLocale).home;
---

<form
  class="flex w-full max-w-2xl flex-col items-center justify-center gap-8 rounded-xl border border-neutral-50/10 bg-gradient-to-tr from-transparent to-neutral-700/10 px-4 py-8 text-center shadow backdrop-blur-xl md:p-8"
>
  <label class="flex w-full flex-col items-center gap-2">
    <span>
      {contact.form_name}
    </span>

    <input
      type="text"
      name="nombre"
      placeholder={`${contact.form_placeholder_prefix} Juan Pérez`}
      class="w-full max-w-md rounded-lg border border-neutral-50/10 bg-neutral-950 p-3 text-center text-lg placeholder:text-neutral-600"
    />
  </label>

  <label class="flex w-full flex-col items-center gap-2">
    <span>
      {contact.form_contact}
    </span>

    <input
      type="text"
      name="contacto"
      placeholder={`${contact.form_placeholder_prefix} juanperez@gmail.com / 600 600 600`}
      class="w-full max-w-md rounded-lg border border-neutral-50/10 bg-neutral-950 p-3 text-center text-lg placeholder:text-neutral-600"
    />
  </label>

  <label class="flex w-full flex-col items-center gap-2">
    <span>
      {contact.form_message}
    </span>

    <textarea
      name="mensaje"
      placeholder={contact.form_placeholder_message}
      rows="5"
      class="w-full max-w-md resize-none rounded-lg border border-neutral-50/10 bg-neutral-950 p-3 text-center text-lg placeholder:text-neutral-600"
    ></textarea>
  </label>

  <div class="mt-4 flex w-full flex-col items-center gap-2">
    <p>
      {contact.form_submit}
    </p>

    <div
      class:list={[
        "group flex w-full max-w-md rounded-full border border-neutral-50/10 bg-gradient-to-tr from-transparent to-neutral-700/20 p-2",
      ]}
    >
      <a
        id="sendEmail"
        href="mailto:info@sglvilanova.com?subject=Contacto%20web%20⚡&body="
        class="hover:bg-sgl w-full max-w-xs cursor-not-allowed rounded-full p-2 text-center transition-colors hover:text-neutral-950"
      >
        Email
      </a>

      <a
        id="sendWhatsapp"
        href="https://wa.me/34639963246?text="
        target="_blank"
        class="hover:bg-sgl w-full max-w-xs cursor-not-allowed rounded-full p-2 text-center transition-colors hover:text-neutral-950"
      >
        Whatsapp
      </a>
    </div>
  </div>
</form>

<style>
  textarea {
    scrollbar-width: none;
  }
</style>

<script>
  const form = document.querySelector("form") as HTMLFormElement;
  const eLink = document.querySelector("#sendEmail") as HTMLAnchorElement;
  const wLink = document.querySelector("#sendWhatsapp") as HTMLAnchorElement;
  const nInput = document.querySelector(
    "input[name='nombre']"
  ) as HTMLInputElement;
  const cInput = document.querySelector(
    "input[name='contacto']"
  ) as HTMLInputElement;
  const mInput = document.querySelector(
    "textarea[name='mensaje']"
  ) as HTMLTextAreaElement;

  const eBase = "mailto:info@sglvilanova.com?subject=Contacto%20web%20⚡&body=";
  const wBase = "https://wa.me/34639963246?text=";

  let name = "";
  let contact = "";
  let message = "";
  let rawMessage = "";

  function updateMessage() {
    rawMessage = `Contacto: ${name} (${contact})\n${message}`;
    eLink.href = eBase + encodeURIComponent(rawMessage);
    wLink.href = wBase + encodeURIComponent(rawMessage);

    if (name !== "" && contact !== "" && message !== "") {
      eLink.classList.remove("cursor-not-allowed");
      wLink.classList.remove("cursor-not-allowed");
    }
  }

  function resetForm() {
    setTimeout(() => {
      name = "";
      contact = "";
      message = "";
      rawMessage = "";
      updateMessage();
      form.reset();
    }, 500);
  }

  nInput.addEventListener("input", (ev) => {
    name = nInput.value;
    updateMessage();
  });

  cInput.addEventListener("input", (ev) => {
    contact = cInput.value;
    updateMessage();
  });

  mInput.addEventListener("input", (ev) => {
    message = mInput.value;
    updateMessage();
  });

  eLink.addEventListener("click", () => resetForm());
  wLink.addEventListener("click", () => resetForm());
</script>
