---
import { getI18n } from "@/i18n/config";
import Form from "@/components/Form.astro";

const { currentLocale } = Astro;
const { contact } = getI18n(currentLocale).home;
---

<section
  id={contact.id}
  class="flex w-full max-w-7xl flex-col items-center justify-center gap-20 px-6 py-32 md:py-40 lg:flex-row lg:py-60"
>
  <article
    class="flex flex-col items-center justify-center text-center lg:items-start lg:text-left"
  >
    <h2 class="max-w-3xl text-2xl font-bold md:text-3xl lg:text-4xl">
      {contact.title}
    </h2>
    <p class="mt-4 max-w-2xl text-lg">
      {contact.description}
    </p>

    <ul class="mt-10 flex flex-col gap-8">
      <li class="flex flex-col">
        <p>
          {contact.phone}
        </p>
        <a
          href="tel:0034639963246"
          class="mt-1 text-xl text-sgl underline hover:no-underline"
        >
          (+34) 639 963 246
        </a>
      </li>
      <li class="flex flex-col">
        <p>
          {contact.email}
        </p>
        <a
          href="mailto:info@sglvilanova.com"
          class="mt-1 text-xl text-sgl underline hover:no-underline"
        >
        info@sglvilanova.com
        </a>
      </li>
    </ul>
  </article>

  <Form />
</section>
