---
import { getI18n } from "@/i18n/config";

import Logo from "@/assets/Logo.astro";
import Exp from "@/assets/Exp.astro";
import Link from "@/components/Link.astro";
import Clients from "@/sections/Clients.astro";

const { currentLocale } = Astro;
const { hero } = getI18n(currentLocale).home;
---

<section
  class:list={[
    "relative flex w-full flex-col items-center bg-neutral-950 pt-20 md:pt-36 lg:min-h-svh",
    "before:absolute before:top-0 before:z-10 before:size-full before:bg-gradient-to-b before:from-neutral-950 before:to-neutral-950/0",
    "after:absolute after:bottom-0 after:z-10 after:size-full after:bg-gradient-to-t after:from-neutral-950 after:to-neutral-950/0",
  ]}
>
  <video
    src="/bg.webm"
    playsinline
    autoplay
    muted
    loop
    class="absolute inset-0 size-full object-cover opacity-80"
  >
  </video>

  <article
    class="z-20 flex max-w-4xl flex-col items-center justify-center px-6 text-center"
  >
    <Logo class="h-16 text-sgl md:h-20 lg:h-24" />

    <p class="mt-8 inline-flex items-center gap-1 text-xs uppercase">
      <Exp class="h-3 text-sgl" />
      {hero.kick}
    </p>

    <h1 class="mt-6 text-4xl font-bold md:text-6xl">
      {hero.title}
    </h1>

    <p class="mt-6 text-lg md:mt-10">
      <span class="inline md:hidden">
        {hero.description_mobile}
      </span>
      <span class="hidden md:inline" set:html={hero.description_desktop_html} />
    </p>

    <div class="mt-6 flex flex-col justify-center gap-4 md:flex-row">
      <Link href={hero.link1_href} class="max-w-80 flex-auto">
        {hero.link1}
      </Link>

      <Link
        href={hero.link2_href}
        class="hidden max-w-80 flex-auto md:block"
        alt
      >
        {hero.link2}
      </Link>
    </div>
  </article>

  <Clients />
</section>

<style>
  video {
    mask-image: linear-gradient(to bottom, transparent, black 50%, transparent);
  }
</style>
