---
import { getI18n } from "@/i18n/config";
import { lastProjects } from "@/lib/projects";

import Link from "@/components/Link.astro";
import ProjectSlider from "@/components/ProjectSlider.astro";

const { currentLocale } = Astro;
const { projects } = getI18n(currentLocale).home;
---

<section
  id="trabajos-realizados"
  class:list={[
    "relative flex w-full flex-col items-center justify-center px-6 pt-32 md:pt-40 lg:pt-60",
    "before:absolute before:top-0 before:-z-10 before:h-1/2 before:w-full before:bg-gradient-to-b before:from-neutral-950 before:to-neutral-950/0",
  ]}
>
  <h2 class="max-w-3xl text-2xl font-bold md:text-3xl lg:text-4xl">
    {projects.title}
  </h2>

  <ul
    class="mt-10 grid max-w-7xl grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3 lg:gap-4"
  >
    {
      lastProjects.map(({ images, title }, i) => (
        <li class="flex self-stretch lg:last-of-type:hidden">
          <ProjectSlider
            id={`lastProjects${i}`}
            images={images}
            title={title}
          />
        </li>
      ))
    }
  </ul>

  <Link href={projects.link_href} class="mt-10 text-center">
    {projects.link}
  </Link>
</section>
