---
import { getI18n } from "@/i18n/config";

import Cert from "@/assets/Cert.astro";
import Custom from "@/assets/Custom.astro";
import Eco from "@/assets/Eco.astro";
import Link from "@/components/Link.astro";

const { currentLocale } = Astro;
const { service2 } = getI18n(currentLocale).home;
---

<section
  id={service2.id}
  class:list={[
    "relative flex w-full flex-col items-center justify-center bg-neutral-950 px-6 pt-32 text-center md:pt-40 lg:pt-60",
    "before:absolute before:inset-0 before:opacity-20",
  ]}
>
  <article class="z-10 flex max-w-7xl flex-col items-center justify-center">
    <div class="flex max-w-4xl flex-col items-center">
      <h2 class="max-w-3xl text-2xl font-bold md:text-3xl lg:text-4xl">
        {service2.title}
      </h2>

      <p class="mt-6" set:html={service2.description_html} />
    </div>
  </article>

  <ul
    class="mt-12 grid max-w-7xl grid-cols-1 text-neutral-400 md:grid-cols-3 lg:gap-8"
  >
    <li
      class="flex flex-col items-center justify-center gap-4 self-stretch p-8"
    >
      <Custom class="text-sgl h-10" />
      <p set:html={service2.list_item1_html} />
    </li>

    <li
      class="flex flex-col items-center justify-center gap-4 self-stretch p-8"
    >
      <Cert class="text-sgl h-10" />
      <p set:html={service2.list_item2_html} />
    </li>

    <li
      class="flex flex-col items-center justify-center gap-4 self-stretch p-8"
    >
      <Eco class="text-sgl h-10" />
      <p set:html={service2.list_item3_html} />
    </li>
  </ul>

  <p
    class="mt-12 max-w-2xl text-lg"
    set:html={service2.footer_description_html}
  />

  <Link href={service2.footer_link_href} class="mt-8 max-w-80 flex-auto">
    {service2.footer_link}
  </Link>
</section>

<style>
  section:before {
    background-image: url("/instalaciones-electricas-temporales.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mask-image: linear-gradient(
      to bottom,
      transparent 10%,
      black 50%,
      black 50%,
      transparent 90%
    );
  }
</style>
