---
import "@fontsource-variable/space-grotesk";
import { metadata } from "@/lib/metadata";
import { locales, defaultLocale } from "@/i18n/config";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Background from "@/components/Background.astro";

const {
  currentLocale,
  site,
  url: { pathname },
} = Astro;
const { title, description, image, name } = metadata;
const canonicalUrl = new URL(pathname, site).href;
const canonicalPath = pathname.replace(/^\/(es|ca)/, "");
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description[currentLocale || "es"]} />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content={name} />
    <link rel="apple-touch-icon" type="image/png" href="/mobile.png" />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="alternate" hreflang="x-default" href={canonicalUrl} />
    {
      locales.map((locale) => {
        const localePath = locale === defaultLocale ? "" : `${locale}`;
        return (
          <link
            rel="alternate"
            hreflang={locale}
            href={new URL(`${localePath}${canonicalPath}`, Astro.site).href}
          />
        );
      })
    }
    <title>{title[currentLocale || "es"]}</title>
    <meta name="author" content="verdu | verdu@live.com" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title[currentLocale || "es"]} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:image" content={image} />
    <meta
      property="og:description"
      content={description[currentLocale || "es"]}
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title[currentLocale || "es"]} />
    <meta
      name="twitter:description"
      content={description[currentLocale || "es"]}
    />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:image:alt" content={title[currentLocale || "es"]} />
  </head>

  <body class="bg-neutral-950 text-stone-100">
    <Background />
    <div class="flex min-h-svh flex-col overflow-hidden">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    @apply scroll-smooth;
  }

  p,
  figcaption {
    @apply text-pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
</style>
